meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css", rel="stylesheet")
script(src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js")
script(src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js")
style.
    page-header {
        width: 100%;
    }
    .self-nav {
        background-color: #563d7c;
    }
    .listPage h3 {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: solid 1px #eee;
    }
    .resultsContent {
        padding: 20px;
        margin: 30px 0;
    }
    .searchBox {
        margin-top: 20px;
    }
    .commentArea {
        margin-top: 20px;
    }