meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(name="format-detection", content="telephone=no, email=no")
link(rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.css")
style.
	html,body,.main {
		margin:0;
		padding:0;
		height: 100%;
		color: #fff;
	}
	.main {
		overflow:auto;
		box-sizing:border-box;
		padding-top:50px;
		text-align: center;
		background-color: #42485b;
	}
	.main #record {
		width:80%;
		height:60px;
		margin:0 auto;
		line-height:60px;
		text-align:center;
		background-color:#00c1de;
		color:#fff;
		border-radius: 10px;
	}